@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik&display=swap');

:root {
    --form-section-size: calc(100vw - var(--branding-section));
    --branding-section: 45vw;
    --title-container: #000000aa;
    --font-color: #efefef;
    --background-color: #efefef;
    --form-background-color: #efefef33;
    --input-type-background: #e8e8e85a;
    --btn-color: #012E40;
    --btn-hover-state: #024959;
    --border-color: #ababab;
    --log-in-color: #3CA6A6;
    --log-in-hover-state: #026773;
    --required-text: #ef010f;
    --valid-state: #0aef52;
    --invalid-state: #ef0000;
    --existing-account-text: #1f1f1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#main {
    height: 100%;
    display: flex;
    
    background-image: url(./images/nasa-image.jpg);
    background-size: cover;
}

/* FORM SECTION START */

.form-container {
    width: var(--form-section-size);
    border-radius: 0 2em 2em 0;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--form-background-color);
}

#form-section {
    height: calc(100% - 30vh);
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.hero-text,
.sub-text {
    text-align: center;
    padding: 1rem;
}

.hero-text {
    font-size: 3.5rem;
    margin-top: 1em;
}

.sub-text {
    font-size: 2rem;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 4em 0;
}

fieldset {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    border: none;
}

.name-section,
.contact-section,
.password-section {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.label-text {
    font-size: 1.5rem;
    margin-bottom: .3rem;
}

.required {
    color: var(--required-text)
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
    width: calc(100vw - 80vw);
    height: 2.5em;
    padding: 1rem;

    background: var(--input-type-background);
    color: var(--font-color);
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.create-btn {
    border: none;
    border-radius: 0.5em;

    font-family: 'Montserrat', sans-serif;
    background-color: var(--btn-color);
    color: var(--font-color);
    padding: 1em 2.5em;

    transition: all .2s ease;
    cursor: pointer;
}

.create-btn:active {
    transform: scale(.98);
}

.create-btn:hover {
    background-color: var(--btn-hover-state);
}

.existing-account-section {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.existing-account-text {
    font-size: 1.4rem;
    color: var(--existing-account-text);
}

#log-in-url {
    color: var(--log-in-color);
    text-decoration: none;
}

#log-in-url:hover {
    color: var(--log-in-hover-state);
}

/* FORM SECTION END */

/* BRANDING SECTION START */

.branding-container {
    width: var(--branding-section);
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.branding-wrapper {
    background-color: var(--title-container);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    height: clamp(17em, 100% , 17em);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.branding-text {
    color: var(--font-color);
    font-size: 3rem;
}

.logo-image {
    width: min(100px, 100%);
    height: min(100px, 100%);
}

/* BRANDING SECTION END */